:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.appContent {
  margin-top: 65px; // for the fixed mat-toolbar
  overflow: hidden;
  flex: 1;
}
